*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    --card-color: #181a1b; 
    --bg-color:#1c1e1f;
    --divider: #292c2e;
    --user-img-border: #464646;
    --roundedcard: 10px;
    --smalltextcolor: #9d9588;
    --bigtextcolor: #bab4ab;
    --sidebarcolor: #828490;
    --logocolor: #e8e6e3;
  }
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
  }
  a, i {
    color: white;
  }
  ul[role='list'],
  ol[role='list'], li, ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }

.main {
  display: grid;
  grid-template: 1fr .85fr 1.75fr .75fr / 1fr;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-name {
  font-size: 5em;
}

.player-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.player-name {
  font-size: 2em;
}
.player-score {
  font-size: 1.5em;
}

.ttt-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TTT {
  height: 100%;  
  display: grid;
    grid-template: 1fr 1fr 1fr / 100px 100px 100px;
}
.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 1fr;
}

.tholder {
  font-size: 50px;
}



.title, .ttt-holder {
  /* background-color: aquamarine; */
}

.nextgame, .player-holder {
  /* background-color: purple; */
}

.title, .nextgame {
  height: 175px;
}

.player-holder {
  height: 100%;
}

.ttt-holder {
  height: 100%;
}

.nextgame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner-readout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#win-btn {
  height: 50px;
  width: 100px;
  border-radius: 25px;
}

#win-btn > p {
  color: black;
}

footer {
  margin-top: auto;
}
.footer-content {
  padding: 15px 0 15px 0;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
}